
/* margin은 외부 여백을 설정하는 것이며 상 하 좌 우 따로따로 설정 가능하다. (0 0 0 0) */

#wrap {
    width: 800px;  /*width 는 가로넓이를 정함*/
    padding:80px 50px 80px 50px;
    margin: 0 auto 0 auto;
    border: 1px solid #cccccc;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgba(200, 200, 200, 0.5);
}

/* width : 가로넓이를 정함*/
/* border : 첫 번쨰는 선의 두께, 두번째는 실선이냐 점선이냐 차이 */
/* border-radius : 테두리 둥글게 */
/* margin : 상하좌우 외부 여백, 특히 좌 우는 자동으로 설정되게 끔 auto로 설정함 */
/* box-shadow : 첫번째 값 좌우, 두번째 상하, 3번째 그림자 끝부분을 얼마만큼 흐리게 할거냐 차이 */
/* rgba : 1,2,3번째 값을 RGB값, 4번쨰 값은 투명도 조정 */
/* padding : 상자 내부의 여백조절(상, 우, 하, 좌)*/

#wrap div.to{
    font-style: italic;
    margin-bottom: 50px;
}

#wrap div.head{
    width: 90%;                         /*넓이 90퍼만 사용*/
    margin: 0 auto;                     /*외부 여백 설정*/
    text-align: center;                 /*가운데 정렬 하기*/
    margin-bottom: 20px;                /*아래쪽 엘리먼트와 20픽셀만큼 거리를 벌림*/
    border-bottom:double #dadada;     /*선을 두줄로 설정(굵기설정불가) 색상가능*/
    padding:10px;
}

#wrap div.body{
    width: 90%;
    margin: 30px auto;
}

#wrap div.body p {
    margin: 20px 0;
}

#wrap div.from{
    font-style: italic;
    text-align: right;
    margin-top: 50px;
}


