<link href="{{ url_for('static', filename='css/include/nav.css') }}" rel="stylesheet">

<nav>
    {% if not session.get('signinedMemberId') %}
        <div class="nav_wrap">
            <a href="/">HOME</a>
            |
            <a href="/member/signup_form">SIGN-UP</a>
            |
            <a href="/member/signin_form">SIGN-IN</a>
        </div>
    {% else %}
        <div class="nav_wrap">
            <a href="/">HOME</a>
            |
            <a href="/member/signout_confirm">SIGN-OUT</a>
            |
            <a href="/member/modify_form">MODIFY</a>
            |
            <a href="/member/delete_confirm" onclick="return confirm('정말 탈퇴하시겠습니까?');">DELETE</a>
            |
            <a href="/dashboard/">DASHBOARD</a>
        </div>
    {% endif %}
    
</nav>