<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/member/member.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/member.js') }}"></script>
    
</head>
<body>
    
    {% include 'include/header.html' %}
    {% include 'include/nav.html' %}

    <article id="modify_wrap">
        
        <div class="modify_form">
            <form action="/member/modify_confirm" name="modify_form" method="POST">
                <input type="hidden" name="mId" value="{{ member.mId }}">
                <input class="input_basic" type="text" value="{{ member.mId }}" readonly disabled><br>
                <input class="input_basic" type="password" name="mPw" value="{{ member.mPw }}" placeholder="Input member PW"><br>
                <input class="input_basic" type="email" name="mMail" value="{{ member.mMail }}" placeholder="Input member MAIL"><br>
                <input class="input_basic" type="text" name="mPhone" value="{{ member.mPhone }}" placeholder="Input member PHONE"><br>
                <input class="input_button_basic_130" type="button" value="MODIFY" onclick="modifyForm();">
                <input class="input_button_basic_130" type="reset" value="RESET">
            </form>
        </div>

    </article>

    {% include 'include/footer.html' %}

</body>
</html>