<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/title.html' %}

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

</head>
<body>
    
    {% include 'include/header.html' %}
    {% include 'include/nav.html' %}

    <article>
        
        <div class="index">
            <img src = "{{ url_for('static', filename='img/computer.jpg') }}">
        </div>

    </article>

    {% include 'include/footer.html' %}

</body>
</html>