<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>네이버 뉴스 검색</title>

    <style>

        body{
            font-family: Arial;
            margin: 40px;
        }

        h1{
            color: green;
        }

        .news{
            border:1px solid #ccc;
            padding:15px;
            margin-bottom:20px;
            border-radius:10px;
        }

        a{
            text-decoration:none;
            color:blue;
        }

    </style>

</head>
<body>

    <h1>네이버 뉴스 검색</h1>

    <form method="POST">

        <input type="text"
               name="keyword"
               placeholder="검색어 입력">

        <button type="submit">검색</button>

    </form>

    <hr>

    {% for news in news_list %}

    <div class="news">

        <h3>{{ news.title | safe }}</h3>

        <p>{{ news.description | safe }}</p>

        <p>작성일: {{ news.pDate }}</p>

        <a href="{{ news.link }}" target="_blank">
            뉴스 보기
        </a>

    </div>

    {% endfor %}

</body>
</html>